In [107]:
import requests #urllib,selenium
import urllib
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt'

In [19]:
url_list = []

for i in range(1,11):
    data = requests.get('https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt',str(+i))
    url_list.append(data)

In [20]:
data

In [77]:
movie_names = []
imdb_rating = []
genre = []

for i in url_list:
    soup = BeautifulSoup(i.text)
    
    tag_movie_names = soup.find_all('div',class_ = 'lister-item-content')
    for j in tag_movie_names:
        movie_names.append(j.text)

In [78]:
movie_names_df = pd.DataFrame()

In [79]:
movie_names_df['Movie_Names'] = movie_names

In [80]:
movie_names_df

                                   Movie_Names
0     \n1.\nThe Shawshank Redemption\n(1994)\n
1                \n2.\nThe Godfather\n(1972)\n
2              \n3.\nThe Dark Knight\n(2008)\n
3       \n4.\nThe Godfather: Part II\n(1974)\n
4                 \n5.\n12 Angry Men\n(1957)\n
...                                        ...
1005                   \n97.\nAmélie\n(2001)\n
1006                   \n98.\nSnatch\n(2000)\n
1007      \n99.\nRequiem for a Dream\n(2000)\n
1008         \n100.\nAmerican Beauty\n(1999)\n
1009                           Recently Viewed

[1010 rows x 1 columns]

In [190]:
url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=1&ref_=adv_nxt'
data = requests.get(url)
soup = BeautifulSoup(data.text)

In [191]:
str1=soup.find('h3',class_='lister-item-header').text

In [192]:
str1

'\n1.\nThe Shawshank Redemption\n(1994)\n'

In [193]:
str1 = str1.replace('\n','')

In [194]:
str1

'1.The Shawshank Redemption(1994)'

In [195]:
str1 =str1.split('.')[1]

In [196]:
str1

'The Shawshank Redemption(1994)'

In [178]:
str1[:-6]

'The Shawshank Redemption'

In [183]:
year = str1[-5:-1]

In [184]:
year

'1994'

In [197]:
runtime = soup.find('span',class_='runtime').text

In [198]:
runtime

'142 min'

In [199]:
genre = soup.find('span',class_='genre').text

In [206]:
genre = genre.replace('\n','').strip()

In [207]:
type(genre)

str

In [208]:
len(genre)

5

In [209]:
data = requests.get('https://www.flipkart.com/search?q=mobiles&sid=tyy%2C4io&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_7_na_na_na&as-pos=1&as-type=RECENT&suggestionId=mobiles%7CMobiles&requestId=3bbf1c73-ed18-49d3-b19e-22e43f164dbb&as-searchtext=mobiles')

In [210]:
data